html{
  scroll-behavior: smooth;
}
/* *{
    border: 1px solid red;
} */
body{
    
   background-color: rgb(236, 236, 236);
   z-index: -100;
   
}
body::-webkit-scrollbar{
    display: none;
}
 header{
    width: 100%;
    height: 100px;
    color: rgb(78, 78, 78);
 }
 nav{
    width: 100%;
    height: 85px;
    overflow: hidden;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: center;
    /* align-items:center; */
    background-color: rgba(236, 236, 236,0.8);
    transition: all 0.3s;
    z-index: 10;
 }
  nav.on{
    height: 420px;
 }
 .logo{
  margin-right: 100px;
    width: 150px;
    height: 85px;
    background-image: url(/img/imgi_16_logo.png);
    background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: 0;
    /* border: 1px solid red; */
 }
  .gnb{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 95px;
    /* background-color: rgb(238, 108, 108); */
    display: flex;
    justify-content: center;
 }
 .nav>a{
  /* margin-right: 100px; */
    width: 15%;
    height: 85px;
     /* border: 1px solid red; */
 }
 .gnb > li{
    width: calc(100%/4);
    height: 100%;
 }
  .gnb > li > a{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    /* background-color: red; */
 }
 .gnb > li > a:hover{
    font-weight: 500;
 }
 .snb{
       margin-top: 20px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 30px;
        /* background-color: rgb(214, 214, 214); */
        }
.snb > li{
      font-size: 18px;
        }

.snb > li:hover{
        color: rgb(67, 107, 77);
     }
section{
    width: 100%;
    height: calc(100vh - 95px);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: bold;
        }
section.on{
    display: flex;
      }
 .HAMBURGER{
    width: 5%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color: rgba(83, 186, 255, 0.822); */
 }
 .cicircle{
  width: 30px;
  height: 30px;
  gap: 7px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
  /* background-color: rgb(255, 0, 0); */
 }
 .one{
  gap: 15px;
  position: absolute;
  display: flex;
 }
 .two{
  margin-top: 23px;
  gap: 15px;
  position: absolute;
  display: flex;
 }
 .HAMBURGER span{
    width: 8px;
    height:8px;
    border-radius: 50%;
    background-color: rgb(65, 65, 65);
    transition: all 0.3s;
 }
 /* 여기부터 풀메뉴 */
 .fullMenu{
    width: 100%;
    height: 0;
    background-color: rgba(15, 15, 15, 0.8);
    color: rgb(235, 235, 235);
    position: fixed;
    left: 0;
    top: -100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
     
 }
.fullMenu.on{
    top: 0;
    height: 100vh;
    display: flex;
}
.fullGnb{
    width: 65%;
    height: 70%;
    margin-top: 60px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* border: 1px solid red; */
}
.fullGnb>li{
    width: calc(100%/4);
    height: 100%;
    font-size: 2px;
     /* border: 1px solid red; */
    
}
.fullGnb>li>a{
    width: 100%;
    height: 20%;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    display:flex ;
    justify-content: center;
    align-items: center;
     /* background-color: rgb(255, 38, 0); */
}
.fullSnb{
    width: 100%;
    height: 80%;
    font-size:25px ;
    font-weight: 200;
    cursor: pointer;
     display:flex ;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: rgb(235, 235, 235);
    gap: 10px;
}
.fullSnb>li>a:hover{
  color: rgb(80, 146, 96);
}
.closeBtn{
    position: absolute;
    right: 170px;
    top: 45px;
    width: 30px;
    height: 30px;
    font-size: 45px;
    /* border: 1px solid red; */
    cursor: pointer;
}

/* 화면시작=-------------------------------------------------- */
.wide1{
    margin-top: -85px;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: center;
 }
 .image1{
    background-image: url(/img/cr1.jpg);
    width: 95%;
    height: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
   justify-content: center;
   align-items: center;
   justify-content: center;
 }
 .text1{
    text-align: center;
   font-size: 74px;
   font-weight: 500;
    font-family: "Nanum Gothic", sans-serif;
   color: rgb(248, 252, 255);
 }
 .wide2{
    /* margin-top: -80px; */
   width: 100%;
   height: 640vh;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: center;
 }
 .inBox{
    display: flex;
   justify-content: start;
   align-items: center;
     width: 95%;
    height: 95%;
    background-color: rgb(249, 252, 255);
    border-radius: 8px;
    flex-direction: column;
 }
 .crBox{
    /* margin-top: 150px; */
    width: 70%;
    height: 55px;
   margin-top: 100px;
    flex-direction: column;
    /* background-color: aqua; */
 }
 .greyBox{
     width:50%;
    height: 100%;
    background-color: rgb(61, 61, 61);
    color: aliceblue;
     display: flex;
   justify-content: center;
   align-items: center;
    text-align: center;
    font-size: 20px;
 }
 .greyBar{
     display: flex;
   justify-content: center;
   align-items: start;
    /* border:1px solid red ; */
    width: 100%;
    height: 1px;
    background-color: rgb(110, 110, 110);
 }
 .imgBoxTree{
    width: 90%;
    height: 100vh;
    /* border: 1px solid red; */
      display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .imgBoxTree div{
    font-size: 45px;
    margin-bottom: 50px;
 }
 .tree{
    display: flex;
   justify-content: start;
   align-items: start;
    background-image: url(/img/cr2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 86%;
    height: 370px;
 }

 /* .long{
    width: 1px;
    height: 470%;
    background-color: rgb(167, 167, 167);
    position: absolute;
 } */
 .imgBoxSix{
   width: 90%;
   height: 85vh;
   /* border: 1px solid red; */
   display: flex;
   justify-content: center;
   align-items: start;
   gap:80px;
 }
 .boxs1 img,
 .boxs2 img{
   width: 100%;
   height: 100%;
object-fit: cover;
display: block;
 }
 
 .boxs1{
   border-radius: 8px;
   width: 40%;
   height: 55%;
   background-color: aqua;
   overflow: hidden;
 }
 .boxs2{
   border-radius: 8px;
   width: 40%;
   height: 55%;
   /* background-color: rgb(0, 0, 0); */
   overflow: hidden;
   object-fit: cover;
 }
 .boxs3{
   border-radius: 8px;
   width: 40%;
   height: 80%;
   /* background-color: rgb(204, 0, 255); */
   text-align: left;
 }
  .boxs4{
   border-radius: 8px;
   width: 40%;
   height: 80%;
   /* background-color: aqua;/ */
   text-align: right;
 }
 .boxs3 h1{
    font-family: "Nanum Gothic", sans-serif;
   height: 20%;
   font-size: 40px;
   font-weight: bold;
   /* border: 1px solid red; */
 }
  .boxs4 h1{
    font-family: "Nanum Gothic", sans-serif;
   height: 20%;
   font-size: 40px;
   font-weight: bold;
   text-align: left;
   /* border: 1px solid red; */
 }
 .wrapp{
   margin-top: -20px;
   width: 100%;
   height: 95%;
   display: flex;
   align-items: start;
 }
  .wrapp2{
   margin-top: -20px;
   width: 100%;
   height: 95%;
   display: flex;
   align-items: start;
   text-align: left;
 }
 .boxs4{
   border-radius: 8px;
   width: 40%;
   height: 85%;
   /* background-color: rgb(0, 0, 0); */
   text-align: right;
 }
 .lastNumberBox{
    font-family: "Nanum Gothic", sans-serif;
   width: 30%;
   height: 100%;
   font-size: 20px;
   font-weight: bold;
   line-height: 60px;
   /* background-color: blueviolet; */
 }
  .lastNumberBox2{
    font-family: "Nanum Gothic", sans-serif;
   width: 30%;
   height: 100%;
   font-size: 20px;
   font-weight: bold;
   line-height: 60px;
   text-align: left;
   /* background-color: blueviolet; */
 }
 .lastTextBox{
    font-family: "Nanum Gothic", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 60px;
   width: 70%;
   height: 100%;
   /* background-color: green; */
 }
  .lastTextBox2{
    font-family: "Nanum Gothic", sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 60px;
   width: 70%;
   height: 100%;
   text-align: left;
   /* background-color: green; */
 }